@(tasks: List[Task], user: String)

@import helper._

@main("Todo list") {
    <div class="row-fluid">
        <div class="span10 offset1 pagination-centered" id="mobile-responsive">
            <h1>@tasks.size task(s)</h1>
            Bienvenido <strong>@user</strong> | 
            <a href="@routes.Application.logout()">Logout</a>
            <div class="row-fluid">
                <div class="span6">
                    <a class="btn btn-success pull-left" href="@routes.Application.newTask(user)"><i class="icon-plus icon-white"></i> New Task </a>
                </div>
            </div>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Task ID</th>
                        <th>Description</th>
                        <th>Deadline</th>
                        <th>User</th>
                    </tr>
                </thead>
                <tbody>
                    @tasks.map { task =>
                        <tr>
                            <td>@task.id</td>
                            <td>@task.label</td>
                            <td>@task.discontinued</td>
                            <td>@task.user_email</td>           
                            <td><a href="@routes.Application.editTask(task.id.get,user)" onclick="$(this).closest('form').submit()"><i class="icon-wrench"></i> Edit</a></td>
                            <td><a href="@routes.Application.deleteTask(task.id.get)" onclick="$(this).closest('form').submit()"><i class="icon-remove"></i> Delete</a></td>
                        </tr>
                    }
                </tbody>
            </table>
            
            @if(Task.order==0){
                <a href="@routes.Application.index" onclick="$(this).closest('form').submit()" class="btn btn-mini"><i class="icon-th-list"></i> Order by <strong>deadline</strong></a>
            }
            @if(Task.order==1){
                <a href="@routes.Application.index" onclick="$(this).closest('form').submit()" class="btn btn-mini"><i class="icon-th-list"></i> Order by <strong>ID</strong></a>
            }
        </div>
    </div>
}