@(loginForm: Form[(String,String)])(implicit flash: Flash)

@import helper._

@main("Todo list") {
	<div class="row-fluid">
		<div class="span12 pagination-centered well">
			<h2>Log in</h2>
			@form(routes.Application.authenticate) {
				@inputText(loginForm("email"),'_email -> "Email")
				@inputText(loginForm("password"),'_password -> "Password") 
				<button class="btn btn-success" type="submit" value="Create"><i class="icon-ok icon-white"></i> Log in</button> or
				@*<a href="@routes.Application.tasks(Application.order)" class="btn">Cancel</a>*@
				<a href="@routes.Application.signin" class="btn"><i class="icon-user"></i> Sign in</a
			}
		</div>
	</div>	
	
}