@(taskForm: Form[Task],user:String)

@import helper._

@main("Todo list") {
	<div class="row-fluid">
		<div class="span12 pagination-centered">
			<h2>Add a new task</h2>
			Bienvenido <strong>@user</strong>
			@form(routes.Application.createTask) {
				@inputText(taskForm("label"),'_label -> "Task name")
				@inputText(taskForm("discontinued"),'_discontinued -> "Deadline")
				<input type="hidden" name="user_email" value="@user" />
				<button class="btn btn-success" type="submit" value="Create"><i class="icon-ok icon-white"></i> Create</button> or
				@*<a href="@routes.Application.tasks(Application.order)" class="btn">Cancel</a>*@
				<a href="@routes.Application.index" class="btn">Cancel</a>
			}
		</div>
	</div>	
	
}