@(loginForm: Form[Owner])

@import helper._

@main("Todo list") {
	<div class="row-fluid">
		<div class="span12 pagination-centered well">
			<h2>Sign in</h2>
			@form(routes.Application.createUser) {
				@inputText(loginForm("email"),'_email -> "Email")
				@inputText(loginForm("password"),'_password -> "Password") 
				<button class="btn btn-success" type="submit" value="Create"><i class="icon-ok icon-white"></i> Sign in</button> or
				@*<a href="@routes.Application.tasks(Application.order)" class="btn">Cancel</a> *@
				<a href="@routes.Application.login" class="btn">Cancel</a>
			}
		</div>
	</div>	
	
}