@(id: Long, taskForm: Form[Task],user:String)

@import helper._

@main("Todo list") {
    
    <div class="row-fluid">
        <div class="span12 pagination-centered">
            <div class="row-fluid">
                <div class="span12 well">     
                    <h1>Edit this Task</h1>
                    Bienvenido <strong>@user</strong>
                        @form(routes.Application.updateTask(id)) {
                            @inputText(taskForm("label"), '_label -> "Task name")
                            @inputText(taskForm("discontinued"), '_discontinued -> "Deadline")
                            <input type="hidden" name="user_email" value="@user" />
                            <button class="btn btn-success" type="submit" value="Create"><i class="icon-ok icon-white"></i> Save task</button> or 
                            @*<a href="@routes.Application.tasks(Application.order)" class="btn">Cancel</a> *@
                            <a href="@routes.Application.index" class="btn">Cancel</a>
                        }
                </div>
            </div>
        </div>
    </div>
}
